<div class="example-container">
    <div class="example-row" ng-controller="configController">
        <div class="col-lg-6 col-xs-12 col-md-6">
            <h3>Select a mode :</h3>
            <div class="list-group">
                <button type="button" class="list-group-item" ng-click="setSelected(partymode)"
                        ng-bind="partymode.name"></button>
                <button type="button" class="list-group-item" ng-click="setSelected(mode)" ng-repeat="mode in modes"
                        ng-bind="mode.name"></button>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-md-6">
            <div class="row">
                <h3 ng-bind="'Selected mode : ' + selected.name"></h3>
                <h5>Pick a color :</h5>
                <div class="colorpickerCSS" id="cp7"></div>
                <button class="btn btn-primary btn-large pull-right" ng-click="sendSettings()">Save lightmode
                </button>
            </div>
        </div>
        <script>
            $(function () {
                $('#cp7').colorpicker({
                    color: '#ffffff',
                    format: 'rgb',
                    container: true,
                    inline: true
                });
            });
        </script>
    </div>
</div>